*{
    font-family: "Nunito",sans-serif ;
}
body{
 padding: 0;
 margin: 0;
 padding-left: 40px;
 padding-right: 50px;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: white;
}
/* Navbar styling starts here */
.wrapper{
    display: flex;
    justify-content:space-evenly;
    gap: 1rem;
}.icon img{
    width: 50%;
    margin-bottom: 200px;
    height: 50px;
    padding-left: 50px;
    align-items: center;
    padding-right: 50px;
}
.navlinks{
    display: flex;
    gap: 4rem;
}
.navlinks a{
    text-decoration: none;
    color: black;
    font-size: 28px;
    padding: 1rem;
    
}

.navbutton a{
    text-decoration: none;
    color: white;
    display: inline-block;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px ;
    background-color: teal;
    
    padding: 10px;
    margin-top: 5px;
}

/* Navbar styling ends here */
.first{
    display: flex;
}
.text{
    padding: 40px;
}
.text h1{
    width: 20rem
}
.edition{
    font-size: 1rem;
}
.text p{
    width: 30rem;
}
.button a{
    text-decoration: none;
    background-color: teal;
    color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px ;
    margin-right: 20px;
    margin-bottom: 10px;
}
.grid{
    max-width: 50%;
}
.grid img{
    width: 32rem;
    border-radius: 20px;
}
.button{
    margin-top: 20px;
}
/* box starts here */
.box-container{
    text-decoration: none;
    background-color: teal;
    color: white;
    margin: 20px;
    padding: 30px;
    border: 20px;
    border-radius: 10px;
}
.box-header h1{
   margin-left: 20rem;
   margin-right: 3em;

}
.box-content{
   text-decoration: none;
   display: flex;
   justify-content: space-around;
   
}
/* ends here */
.overview{
    width: 58%;
    margin: 20px;
}
.instinct a{
    text-decoration: none;
    color: rgb(56, 168, 168);
    font-weight: bolder;
}

    


