body{
 padding: 0;
 margin: 0;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: white;
}
/* Navbar styling starts here */
.wrapper{
    display: flex;
    justify-content:space-between;
    gap: 2rem;
}.icon img{
    width: 50%;
    margin-right: 20rem;
}
.navlinks{
    text-decoration: none;
    color: black;
}
.first{
    display: flex;
}
.text{
    padding: 40px;
}
.text h1{
    width: 20rem
}
.edition{
    font-size: 1rem;
}
.text p{
    width: 30rem;
}
.button a{
    text-decoration: none;
    background-color: teal;
    color: white;
    display: inline-block;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px ;
    margin-right: 20px;
    
}
.grid{
    max-width: 50%;
}
.grid img{
    width: 35rem;
    border-radius: 20px;
    
    
}
.button{
    margin-top: 20px;
    
}
/*.garri{
    background-color: brown;
    display: flex;
    justify-content: first baseline;
}
.cot1{
    ext-decoration: none;
    
    color: white;
    display: inline-block;
    border-radius: 10px;
    
    padding-left: 20px;
    
    
    
}
.cot2{
    ext-decoration: none;
    
    color: white;
    display: inline-block;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px ;
    margin-right: 20px;
}
.cot3{
    text-decoration: none;
    
    color: white;
    display: inline-block;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px ;
    margin-right: 20px;
}
.good{
    justify-content: ;
    align-items: ;
}