*{
    font-family: "Nunito",sans-serif ;
}
body{
 padding: 0;
 margin: 0;
 padding-left: 40px;
 padding-right: 50px;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background-color: white;
}
/* Navbar styling starts here */
.wrapper{
    display: flex;
    justify-content:space-between;
    gap: 1rem;
}.icon img{
    width: 50%;
    margin-bottom: 100px;
    height: 50px;
    padding-left: 30px;
    align-items: center;
    padding-right: 50px;
}
.navlinks{
    display: flex;
    gap: 2rem;
}
.navlinks a{
    text-decoration: none;
    color: black;
    font-size: 28px;
    padding: 1rem;
    
}

.navbutton a{
    text-decoration: none;
    color: white;
    display: inline-block;
    border-radius: 3px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px ;
    background-color: teal;
    padding: 10px;
    margin-top: 5px;
}

/* Navbar styling ends here */
.first{
    display: flex;
    justify-content: space-between;
}
.text{
    padding-left: 22px;
    
}
.text h1{
    width: 30rem
}
.edition{
    font-size: 1rem;
}
.text p{
    width: 30rem;
    gap: 2rem;
}
.button a{
    text-decoration: none;
    background-color: teal;
    color: white;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px ;
    margin-right: 20px;
    margin-bottom: 10px;
}
.grid{
    max-width: 50%;
}
.grid img{
    width: 35rem;
    border-radius: 20px
    
}
.button{
    margin-top: 20px;
}
/* box starts here */
.box-container{
    text-decoration: none;
    background-color: teal;
    color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
}
.box-header h1{
   padding-bottom: 20px;
   text-align: center;

}
.box-content{
   text-decoration: none;
   display: flex;
   justify-content: space-around;
   text-align: center;
   
   
}
/* ends here */
.overview{
    width: 58%;
    margin: 20px;
    margin-top: 100px;
}
.instinct a{
    text-decoration: none;
    color: rgb(56, 168, 168);
    font-weight: bolder;
}
.texts{
    width: 33%;
    
}
.meta{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.beta{
    display: flex;
    gap: 50px;
}
.tabular{
    margin-top: 100px;
    margin-left: 23px;
}
.video{
    margin-left: 20rem;
    margin-top: 7rem;
}
.video .vid a{
    text-decoration: none;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: teal;
    border-radius: 5px;
    color: white;
    margin-left: 12rem;
    font-weight: bolder;
}


    


